.wp-block-vk-simple-copy-block-simple-copy {

	.vk-simple-copy-button {
		margin-top: 1em;
		background-color: var(--wp--preset--color--vk-color-primary, #337ab7);
		color: #fff;
		display: inline-block;
		padding: 0.5rem 1.5rem;
		font-size: 14px;
		border-radius: var(--vk-size-radius);
	}

	.has-custom-font-size {
		.vk-simple-copy-button {
			font-size: inherit;
		}
	}
}
