.wp-block-vk-copy-inner-block-copy-inner {
	.vk-copy-inner-button {
		margin-top:1em;
		background-color: var(--wp--preset--color--vk-color-primary, #337ab7);
		color: #fff;
		user-select: none;
		border: 1px solid transparent;
		padding: 0.5rem 1.5rem;
		font-size: 14px;
		line-height: 1.2;
		border-radius: var(--vk-size-radius);
	}
}

.vk-copy-inner-button-icon svg {
	fill: currentcolor;
	margin-right: 0.5em;
	width: 14px;
}

.editor-styles-wrapper {
	.vk-copy-inner-inner-blocks-wrapper {
		border: 1px dotted #ccc;
	}
}